<%= form_for(@book) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
  	<%= f.text_area :title, placeholder: "Title..." %>
    <%= f.text_area :description, placeholder: "Description..." %>
    <%= f.text_area :author, placeholder: "Author..." %>
    <%= f.text_area :year, placeholder: "Year..." %>
    <%= f.text_area :review, placeholder: "Review..." %>
  </div>
  <%= f.submit "Post", class: "btn btn-primary" %>

  <span class="picture"> <dt>Please upload picture here</dt>
    <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png' %>
  </span>

  <span class="book"> <dt>Please upload Book file here</dt>
    <%= f.file_field :bookfile, accept: 'file/pdf' %>
  </span>
<% end %>

<script type="text/javascript">
  $('#micropost_picture').bind('change', function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
      alert('Maximum file size is 5MB. Please choose a smaller file.');
    }
  });
</script>
